/* /* @tailwind base; */
@tailwind components;
@tailwind utilities; */

/* @layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    outline: none;
    border: none;
  }
} */

ion-split-pane {
  --side-max-width: 100px;
  --side-min-width: 100px;
}
